* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("settings.png");
    background-size: cover;
}

.functions {
    
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 98vw;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.option{
    background-color: transparent;
    border: none;
    color: #e7e5d3;
    font-family: fantasy;
    height: auto;
    width: auto;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
}

.option:hover{
    color: #fbf9e6;
    font-size: 22px;
    font-weight: 900;
}